# DB
DB_HOST=
DB_USERNAME=
DB_PASSWD=
DB_NAME=mayday

# Mongo
MONGO_HOST=
# MONGO_PORT=

# Redis
REDIS_HOST=
# REDIS_PORT=

# Telegram
TELEGRAM_TOKEN=
CHANNEL_NAME=


# Stage
# STAGE = {TEST | PRODUCTION}
STAGE=