# Stage {TEST | PRODUCTION}
STAGE=

# DB
DB_HOST=
DB_USERNAME=
DB_PASSWD=
DB_NAME=mayday

# Mongo
MONGO_HOST=
# MONGO_PORT=

# Redis
REDIS_HOST=
# REDIS_PORT=

# Telegram
TELEGRAM_CHANNEL_NAME=
TELEGRAM_CONNECTION_TIMEOUT=
TELEGRAM_POLLING_TIMEOUT=
TELEGRAM_READ_LATENCY=
TELEGRAM_READ_TIMEOUT=
TELEGRAM_TOKEN=
TELEGRAM_WORKER=